@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 min-h-screen m-0 p-0;
}

.scrollbar-thin {
  scrollbar-width: thin;
}
.scrollbar-thumb-indigo-400::-webkit-scrollbar-thumb {
  background-color: #818cf8; /* indigo-400 */
  border-radius: 9999px;
}
.scrollbar-track-indigo-100::-webkit-scrollbar-track {
  background-color: #e0e7ff; /* indigo-100 */
}
body {
  overflow-x: hidden;
}